<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión</title>
    <link rel="stylesheet" href="../../css/styles.css">
</head>

<body class="body-login">
    <nav class="navbar navbar-login">
        <a href="../../index.html" class="navbar-brand">Volver</a>
    </nav>
    <div class="container">
        <h2>Iniciar Sesión</h2>
        <form class="login-form" onsubmit="return validarCredenciales()">
            <!-- Campo de correo electrónico -->
            <input type="email" name="email" placeholder="Correo electrónico" required>
            <!-- Campo de contraseña -->
            <input type="password" name="password" placeholder="Contraseña" required>
            <!-- Botón para iniciar sesión -->
            <button type="submit">Iniciar Sesión</button>
        </form>
        <a href="registro.html">¿No tienes una cuenta? Regístrate aquí</a>
        <!-- Div para mostrar el mensaje de resultado -->
        <div id="mensaje" style="margin-top: 20px;"></div>
    </div>

    <script src="./js/login.js"></script> <!-- Enlace al archivo JavaScript -->
</body>

</html>